/**
* Feuille de style principale
* Rouge INRIA : color: #E33729;
*/
body {
    padding-top: 80px;
    padding-bottom: 60px;
}

#body_container a {
    color: #E33729;
}

#body_container a.label {
	color: white;
}

/* Spécifiques pour Inria Mecsci */

iframe {
    border-width: 0px;
}
