/**
* Feuille de style principale
* Rouge INRIA : color: #E33729;
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  /* Margin bottom by footer height */
  margin-bottom: 130px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 130px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  color: #999;
  padding-top: 20px;
}

#body_container a {
    color: #E33729;
}

#body_container a.label {
	color: white;
}

iframe {
    border-width: 0px;
}

.seed_thumbnail {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) !important;
    border: 1px solid #CBCBCB;
    border-radius: 2px;
}

.seed_description {
    margin: 10px 6px 5px;
    font-size: 13px;
    line-height: 17px;
    color: #666;
}

.seed_description strong {
    color: #4D4D4D;
    font-size: 12px;
}

.seed_links {
    font-size: 13px;

}

.seed_links hr {
    margin: 10px 0px;
}