/**
* Feuille de style principale
* Rouge INRIA : color: #E33729;
*/
body {
    padding-top: 80px;
}

#body_container a {
    color: #E33729;
}

#body_container a.label {
	color: white;
}

.footer {
    padding: 20px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

/* Spécifiques pour Inria Mecsci */

iframe {
    border-width: 0px;
}
