<div id="body_container" class="container">

  <div class="row">
    <div class="span8">
      <p class="lead">Les grains logiciels 3.0, pour manipuler des objets numériques</p>
    </div>

    <div class="span4 hidden-phone">
      <img class="pull-right" src="img/inr_logo_cherch_FR_coul.png" />
    </div>

  </div>
  <div class="row">
    <br /> <br />
    <ul class="thumbnails">
        <li ng-repeat="seed in seeds" class="span4">
          <div class="thumbnail">
            <img ng-src="grains/{{seed.id}}/snapshots/120px.png" alt="{{seed.name}} snapshot">
            <div class="caption">
              <p class="text-center"><a href="#/grains/{{seed.id}}">{{seed.name}}</a> (<a href="https://github.com/InriaMecsci/{{seed.id}}">github</a>)</p>
            </div>
          </div>
        </li>
    </ul>
    </div>

</div>