<div id="body_container" class="container-fluid">

  <div class="row-fluid">
    <div class="span8">
      <p class="lead">Les grains logiciels 3.0, pour manipuler des objets numériques</p>
    </div>

    <div class="span4 hidden-phone">
      <img class="pull-right" src="img/inr_logo_cherch_FR_coul.png" />
    </div>

  </div>
  <br /> <br />
  <div ng-repeat="seedsByThree in seedsSlicesByThree" class="row-fluid">
    <ul class="thumbnails">
        <li ng-repeat="seed in seedsByThree" class="span4">
          <div class="thumbnail">
            <img ng-src="grains/{{seed.id}}/snapshots/120px.png" alt="{{seed.name}} snapshot">
            <div class="caption">
              <p class="text-center">
                <a href="#!/grains/{{seed.id}}">{{seed.name}}</a>
                <br />
                (<a href="https://github.com/InriaMecsci/{{seed.id}}">github</a>, <a href="#!/grains/meta/{{seed.id}}">métadonnées</a>, <a href="{{seed.uri}}">URL</a>)
              </p>
            </div>
          </div>
        </li>
    </ul>
  </div><!-- row-fluid -->

</div>